<div class="vt-root {{#if locked}}is-locked{{/if}}">
  <div class="vt-header">
    <div class="vt-header-controls">
      {{#if isGM}}
        <button class="vt-show-players" data-action="toggle-show-players" title="{{#if showToPlayers}}Hide from Players{{else}}Show to Players{{/if}}">
          {{#if showToPlayers}}<i class="fas fa-eye"></i>{{else}}<i class="fas fa-eye-slash"></i>{{/if}}
        </button>
        <button class="vt-lock" data-action="toggle-lock" title="{{#if locked}}Unlock{{else}}Lock{{/if}}">
          {{#if locked}}<i class="fas fa-lock"></i>{{else}}<i class="fas fa-lock-open"></i>{{/if}}
        </button>
        <button class="vt-options" data-action="open-options" title="Options">
          <i class="fas fa-cog"></i>
        </button>
      {{/if}}
    </div>
  </div>

  {{#each trackers}}
  <div class="vt-row">
    <label><i class="fas {{this.icon}}"></i> {{this.label}}</label>
    <div class="vt-controls">
      {{#if ../isGM}}
        <button data-action="dec" data-index="{{@index}}" {{#unless ../canEdit}}disabled{{/unless}}>-</button>
      {{/if}}
      <input type="number" data-tracker-index="{{@index}}" value="{{this.value}}" {{#unless ../canEdit}}disabled{{/unless}} />
      {{#if ../isGM}}
        <button data-action="inc" data-index="{{@index}}" {{#unless ../canEdit}}disabled{{/unless}}>+</button>
      {{/if}}
    </div>
  </div>
  {{/each}}

  {{#if isGM}}
    {{#if locked}}
      <div class="vt-footer-status">
        <i class="fas fa-lock"></i> Locked: Cannot change values
      </div>
    {{/if}}
  {{/if}}

  {{#if isGM}}
    <div class="vt-footer-status">
      {{#if showToPlayers}}
        <i class="fas fa-users"></i> Visible to players
      {{else}}
        <i class="fas fa-user-slash"></i> Hidden from players
      {{/if}}
    </div>
  {{/if}}
</div>